    <main id="mainFeed">
        <h1>This is the main feed</h1>
        @Html.Partial("_UploadPost")
  

        
    </main>


    @* <script src="~/js/Poskt/Create.js"></script> *@
    <script src="~/js/Post/FeedPost.js"></script>
