    <main id="mainFeed"> 

        <h1>This is the main feed</h1>
        @Html.Partial("_UploadPost")
  
        <section id="postsContainer">

        </section>
    </main>


    <script src="/js/Post/Create.js" type="module" defer></script> 
    <script src="~/js/Post/FeedPost.js" type="module" defer></script>
