@*
    THIS IS THE VIEW FOR CREATING NEW USERS
*@
@{
    ViewData["title"] = "Register";
}

<form method="post" enctype="multipart/form-data">

    <div>
        <label for="Email">Email *</label>
        <input type="email" name="Email" placeholder="example@example.com" id="Email" />
    </div>

    <div>
        <label for="Password">Password *</label>
        <input type="password" name="Password" placeholder="your password" id="Password" />
    </div>

    <div>
        <label for="Name">Name</label>
        <input type="text" name="Name" placeholder="Michael Kaiser" id="Name" />
    </div>

    <div>
        <label for="Avatar">Avatar</label>
        <input type="file" name="Avatar" id="Avatar" />
    </div>

    <input type="submit" value="Register" />

    <a href="/Auth/Login">Login Here</a>

</form>
<script src="~/js/Auth/Create.js"></script>