<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DannZ</title>
    <script type="importmap"></script>
</head>
<body>
    <p id="userId" data-id="@(User.FindFirst("userId")?.Value)" hidden></p>
    <header>
        <nav>
            @if(User.Identity?.IsAuthenticated ?? false){
                
                <button id="logOutButton">Log Out</button>

                <a asp-controller="Account" asp-action="Profile" asp-route-id="@(User.FindFirst("userId")?.Value)">Profile</a>
                <a asp-controller="Feed" asp-action="MainFeed">Feed</a>

            }
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js" type="module"></script>
    <script src="~/js/site.js" type="module" ></script>
</body>
</html>
