@*
    THIS IS THE PARTIAL VIEW FOR THE FORM TO UPLOAD POST
*@

<form enctype="multipart/form-data" name="postForm" method="post" style="border:solid 1px black">
    <section name="uploadPost" >
        <h2>Make Post</h2>
        <div>
            <img id="userAvatar" src="@(User.FindFirst("avatarUrl")?.Value ?? "/images/userDefault.png")" style="width:50px;height:50px;" />
            <textarea name="TextContent" id="TextContent" placeholder="What's Happening?"></textarea>
        </div>
            
        <div>
            <div>
                <input type="file" multiple hidden name="multimediaField" />
                <button type="button" name="btnMultimedia">
                    <img src="~/images/multimedia.png" style="width:50px;height:50px;" />
                </button>

                <button type="button">
                    <img src="~/images/emojie.png" style="width:50px;height:50px;" />
                </button>
            </div>

            <button type="submit">Upload</button>
        </div>
    </section>

    @* modal window *@
    <section name="uploadPostModal" style="display:none">
        <div>
            <h2>Make Post</h2>
            <button type="button"> 
                <img src="/images/remove.png" style="width:25px;height:25px;" />
            </button>
        </div>

        <div>
            <textarea name="textContentFieldModal" id="textContentFieldModal"></textarea>

            <button type="button">
                <img src="~/images/emojie.png" style="width:50px;height:50px;" />
            </button>
        </div>

        <div class="files-preview-container" style="display:flex">
            <button type="button" name="btnMultimediaModal" style="width:100px;height:170px" >
                <img src="~/images/multimedia.png" style="width:50px;height:50px;" />
            </button>
            <div class="files-preview-box" style="display:flex">

            </div>
        </div>

        <button type="submit">Upload</button>

    </section>
</form>

