@model User
@*
        VIEW FOR EDITING THE PROFILE DATA
*@
@{
    ViewData["title"] = "Edit Profile";
}

<h1>Edit My Profile Account</h1>


<form enctype="multipart/form-data" asp-action="Edit">

    <div>
        <div>
            <img  src="@Model.CoverUrl" style="height:300px;width:100%" />
            <input type="file" accept="image/*" asp-for="CoverUrl" />
        </div>
        <div>
            <img src="@Model.AvatarUrl" style="width:200px;height:200px" />
            <input type="file" accept="image/*"  asp-for="AvatarUrl" style="width:200px;height:200px" />
        </div>
        
    </div>
    <div>
        <label asp-for="Name"></label>    
        <input type="text" asp-for="Name" />
    </div>
    
    <div>
        <label asp-for="Email"></label>
        <input type="text" asp-for="Email" />
    </div>

    <div>
        <label asp-for="Password"></label>
        <input type="text" asp-for="Password" />
    </div>

    <div>
        <label asp-for="Biography"></label>
        <textarea asp-for="Biography" placeholder="Living The Life 🔥"></textarea>
    </div>

    <button type="submit">Edit ✔</button>
</form>

<script src="~/js/EditUser.js"></script>