@*
    THIS IS THE PROFILE VIEW
*@
@model int
@{
    ViewData["title"] = "Profile";
}
<h1>Profile</h1>

<img src="/images/CoverDefault.jpg" id="CoverUrl" />
<img src="/images/userDefault.png" id="AvatarUrl" />

<p id="Name">@* @Model.Name *@</p>

<div id="profileContainer" hidden>
    <button id="btnEditBio">Edit Bio</button>
</div>
<input id="Biography" value="There is no Biography" disabled />

<p hidden id="userId" data-id="@Model"></p>

<a hidden id="anchorEditProfile" data-id="@User.FindFirst("userId")?.Value" asp-action="Edit" asp-controller="Account" asp-route-id="@User.FindFirst("userId")?.Value">Configure Account</a>

 <script src="~/js/Account/Profile.js"></script>
