@model User
@*
    THIS IS THE PROFILE VIEW
*@

@{
    ViewData["title"] = "Profile";
}
<h1>My Profile</h1>

<p>@Model.Name</p>
<p>@Model.Email</p>

@if (Model.Id.ToString() == User.FindFirst("userId")?.Value.ToString())
{
    <a asp-action="Edit" asp-route-id="@User.FindFirst("userId")?.Value">Edit Profile</a>
}
